<?xml version="1.0"?>
<config>
    <modules>
        <Bazmod_Securemysql>
            <version>0.1</version>
        </Bazmod_Securemysql>
    </modules>
    <global>
        <blocks>
            <securemysql>
                <class>Bazmod_SecureMysql_Block</class>
            </securemysql>
        </blocks>
        <helpers>
            <securemysql>
                <class>Bazmod_SecureMysql_Helper</class>
            </securemysql>
        </helpers>
        <models>
            <securemysql>
                <class>Bazmod_SecureMysql_Model</class>
            </securemysql>
        </models>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <securemysql>
                    <file>securemysql.xml</file>
                </securemysql>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <system>
            <securemysql>
                <show_warning>1</show_warning>
            </securemysql>
        </system>
    </default>
</config>